.footer{
    background-color: #091A4F;
    
}
.section{
    padding:20px 0;
    color:#ffffff;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    h3{
        font-weight: 500;
    }
}